<% if !@audio.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @audio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @audio do |f| %>
    <%= f.hidden_field :audio, :value => '' %>
    <%= f.file_field :attachment %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>