<nav>
  <ul class="clearfix">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Rec Video", rec_video_path %></li>
    <li><%= link_to "Rec Audio", rec_audio_path %></li>
    <li><%= link_to "Upload Images", images_path %></li>
    <li><%= link_to "Upload Audios", audios_path %></li>
  </ul>
</nav>